src/HOI_HPI/src/conf/xml-resources/web-service-references/ProviderInformationDirectoryService/wsdl/147.87.117.77_8080/hpd-ws/ProviderInformationDirectoryService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns:tns="urn:ihe:iti:2010" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:dsml="urn:oasis:names:tc:DSML:2:0:core" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:cs="urn:ehealth-suisse:names:tc:CS:1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProviderInformationDirectory" targetNamespace="urn:ihe:iti:2010">
    <documentation>IHE HPD Provider Information Directory</documentation>
    <types>
        <xsd:schema>
            <xsd:import namespace="urn:oasis:names:tc:DSML:2:0:core" schemaLocation="http://epdhpd.i4mi.bfh.ch:8080/hpd-ws/xsd/DSMLv2.xsd"/>
                
            <xsd:import namespace="urn:ehealth-suisse:names:tc:CS:1" schemaLocation="http://epdhpd.i4mi.bfh.ch:8080/hpd-ws/xsd/CS.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProviderInformationRequestMessage">
        <documentation>Provider Information Query/Feed Request Message</documentation>
            <part name="body" element="dsml:batchRequest"/>
    </message>
    <message name="ProviderInformationResponseMessage">
        <documentation>Provider Information Query/Feed Response Message</documentation>
        <part name="body" element="dsml:batchResponse"/>
    </message>
    <message name="ProviderInformationDownloadRequestMessage">
        <documentation>Provider Information Download Request Message</documentation>
        <part name="body" element="cs:downloadRequest"/>
    </message>
    <message name="ProviderInformationDownloadResponseMessage">
        <documentation>Provider Information Download Response Message</documentation>
        <part name="body" element="cs:downloadResponse"/>
    </message>
    <portType name="ProviderInformationDirectory_PortType">
        <operation name="ProviderInformationQueryRequest">
            <input message="tns:ProviderInformationRequestMessage" wsaw:Action="urn:ihe:iti:2010:ProviderInformationQuery"/>
            <output message="tns:ProviderInformationResponseMessage" wsaw:Action="urn:ihe:iti:2010:ProviderInformationQueryResponse"/>
        </operation>
        <operation name="ProviderInformationFeedRequest">
            <input message="tns:ProviderInformationRequestMessage" wsaw:Action="urn:ihe:iti:2010:ProviderInformationFeed"/>
            <output message="tns:ProviderInformationResponseMessage" wsaw:Action="urn:ihe:iti:2010:ProviderInformationFeedResponse"/>
        </operation>
        <operation name="ProviderInformationDownloadRequest">
            <input message="tns:ProviderInformationDownloadRequestMessage" wsaw:Action="urn:ihe:iti:2010:ProviderInformationDownload"/>
            <output message="tns:ProviderInformationDownloadResponseMessage" wsaw:Action="urn:ihe:iti:2010:ProviderInformationDownloadResponse"/>
        </operation>
    </portType>
    <binding name="ProviderInformationDirectory_Binding" type="tns:ProviderInformationDirectory_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ProviderInformationQueryRequest">
            <soap:operation soapAction="urn:ihe:iti:2010:ProviderInformationQuery"/>
            <input>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ProviderInformationFeedRequest">
            <soap:operation soapAction="urn:ihe:iti:2010:ProviderInformationFeed"/>
            <input>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ProviderInformationDownloadRequest">
            <soap:operation soapAction="urn:ihe:iti:2010:ProviderInformationDownload"/>
            <input>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ProviderInformationDirectory_Service">
        <port name="ProviderInformationDirectory_Port_Soap" binding="tns:ProviderInformationDirectory_Binding">
            <soap:address location="http://epdhpd.i4mi.bfh.ch:8080/hpd-ws/ProviderInformationDirectoryService"/>
        </port>
    </service>
</definitions>